form {
    background-color: #d2dfdb60;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}


form>label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}


input[type="number"] {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 20px;
}


fieldset {
    width: 360px;
    height: 78px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 24px;
}

input[type='radio']:hover {
    cursor: pointer;
}


form button {
    border-radius: 8px;
    width: 360px;
    background-color: #e5c4c4;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid #808080;
}

form button:hover {
    background-color: #0d3dec;
    color: #cfcfcf;
}